{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="authApp">
  <head lang="en">
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link rel="stylesheet" href="{% static "css/register.css" %}">
    <script src="{% static "js/angular source/angular.min.js" %}"></script>
    <script src="{% static "js/jquery-1.11.2.js" %}"></script>
    <script src="{% static "js/angular source/angular-route.js" %}"></script>
    <script src="{% static "js/angular source/angular-resource.min.js" %}"></script>
    <script  src="{% static "js/app.profile.js" %}" ></script>
    <script  src="{% static "js/app.api.js" %}" ></script>
    <script  src="{% static "js/app.auth.js" %}" ></script>
    <script  src="{% static "js/angular source/autofill-event.js" %}" ></script>
  </head>
  <body>
    {% verbatim %}
    <div id="main" ng-controller="authController">
      <div id="header">
        <div id="headerblock">
          {% endverbatim %}
          <div id="logo">
            <a href="/">
              <img src="{% static "images/instmephi.png" %}" width="180px" id="instmephi">
            </a>
          </div>
        </div>
      </div>
      {% verbatim %}
      <div id="registerblock">
        <form method="post" enctype="multipart/form-data" ng-submit="register($event)">
          <h1 id="label"> Регистрация </h1>
          <div>
            <input class="input" ng-model="username" required name="username" type="text" placeholder="Имя пользователя:" >
          </div>
          <div>
            <input class="input" ng-model="password" required name="password" type="password" placeholder="Пароль:" >
            <input class="input" ng-model="password2" required name="password" type="password" placeholder="Пароль еще раз:" >
          </div>
          <div>
            <input class="input" ng-model="email" required name="email" type="email" placeholder="E-mail:" >
          </div>
          <div>
            <input class="button" type="submit" value="Зарегистрироваться">
          </div>
        </form>
      </div>
    </div>
    {% endverbatim %}
  </body>
</html>